.banner {
    margin: 0;
    padding: 20px;

    background-color: #cccccc;

    height: 400px;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: black;
    text-align: center;

    position: absolute;
    top: 0;
}