.homeBanner {
  width: 100%;
  height: 85vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
}

.homeBanner-text {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px 50px;
  border-radius: 10px;
}